* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    letter-spacing: -0.03em;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background-image: linear-gradient(to top, #ab3f92, #a33695, #9a2e98, #8f269b, #82209f, #751c98, #681990, #5b1589, #4e1175, #410e62, #350a50, #29073e);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fafafa;
}

p {
    margin: 0;
    color: #fafafa;
}

::placeholder {
    font-weight: bold;
    font-size: 1rem;
    font-weight: 500;
    font-family: Montserrat;
    color: #bab7c9;
    white-space: pre-wrap;
    text-align: left;
}

main {
    width: 100vw;
    height: 100vh;
    max-width: 700px;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main>.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 70px -70px 70px rgba(194, 194, 194, 0.1) inset, -70px 70px 70px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(140px);
    border-radius: 15px;
}

.voltar {
    position: absolute;
    top: 30px;
    left: 30px;
}

.voltar a {
    color: #fafafa;
    text-decoration: none;
    font-size: 1.5rem;
}

section.secao-login {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: #751c98;
    transition: 200ms ease-in-out;
}

.formulario a {
    display: flex;
    font-weight: 300;
    margin-top: 0.5rem;
    align-self: self-end;
    color: #fafafa;
    font-size: 1.1rem;
    text-underline-position: under;
}

.email,
.senha {
    position: relative;
}

.senha .icon-senha {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bab7c9;
    margin: 0;
}

.icon-senha svg {
    vertical-align: baseline;
}

.formulario .confirmar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 1, 1, 1, 1, 2;
}

.confirmar .btn-gradient {
    background-image: linear-gradient(-45deg, #31d5ee, #820ad1);
    background-size: 200% auto;
    color: #fafafa;
    border: 0;
    border-radius: 0.31rem;
    font-weight: 600;
    padding: 0.5rem 6.87rem;
    transition: .8s;
    text-decoration: none;
    font-size: 1.2rem;

    text-align: center;
}

.btn-gradient:hover {
    background-position: right center;
}

.btn-secundario {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #fafafa;
    --bs-btn-hover-bg: #820ad1;
    --bs-btn-hover-border-color: #820ad1;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #977474;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;

    transition: color .20s ease-in-out, background-color .20s ease-in-out, border-color .20s ease-in-out;
    --bs-navbar-toggler-transition: box-shadow 0.20s ease-in-out;
    border-radius: 0.31rem;
}

.rede-social {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 2rem 0;
}

.rede-social button {
    width: 37.5%;
    padding: 0.5rem 2rem;
    font-weight: 400;
}

section.secao-cadastro {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro {
    width: 50%;
    text-align: center;
}

.cadastro a {
    width: 100%;
    color: #31d5ee;
    font-size: 1.2rem;
    padding: .5rem 0;
    font-weight: 300;
    border: none;
    text-underline-position: under;

}

.boneca {
    width: 290px;
    position: absolute;
    left: -89px;
    bottom: 47px;
}