* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #151515;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

video {
    max-width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.fundo-vidro {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 70px -70px 70px rgba(194, 194, 194, 0.1) inset, -70px 70px 70px rgba(255, 255, 255, 0.1) inset;
    backdrop-filter: blur(140px);
    border-radius: 15px;
}

.cadastro {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.perfil {
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.perfil img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

#change-photo-btn {
    margin-top: 0.5rem;
    display: block;
    align-self: center;
}

.perfil input#nome {
    width: 31rem;
    height: 2.5rem;
    border-radius: 7px;
    padding: 0.5rem;
    color: #681990;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}


.biografia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil h2 {
    font-size: 2rem;
    color: #fafafa;
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.perfil p {
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 50%;
}

.perfil textarea {
    width: 31rem;
    height: 10rem;
    border-radius: 7px;
    padding: 0.5rem;
    color: #681990;
    font-weight: 600;
}

::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: #BAB7C9;
}

/* Campos de preenchimento (email, telefone, profissão, localização) */
.formulario .container1,
.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.formulario p {
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 50%;
    margin: 0;
}

.formulario div {
    padding: 0.4rem 0;
}

.formulario .input-maior {
    width: 22rem;
}

.formulario .input-menor {
    width: 17rem;
}

.formulario input {
    font-weight: 600;
    color: #681990;
    padding: 0.7rem;
    border-radius: 5px;
}

.botao {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.botao .btn-secundario,
.btn-gradient {
    width: 7rem;
    border-radius: 5px;
}

.btn-gradient {
    background-image: linear-gradient(-45deg, #31d5ee, #820ad1);
    background-size: 200% auto;
    color: #fafafa;
    border: 0;
    border-radius: 0.31rem;
    font-weight: bold;
    transition: .8s;
    text-decoration: none;
}

.btn-gradient:hover {
    color: #fafafa;
    background-position: right center;
}

.btn-secundario {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #fafafa;
    --bs-btn-hover-bg: #820ad1;
    --bs-btn-hover-border-color: #820ad1;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
    transition: color .40s ease-in-out, background-color .40s ease-in-out, border-color .40s ease-in-out;
    --bs-navbar-toggler-transition: box-shadow 0.40s ease-in-out;
}
